*{
	margin: 0px;
	padding: 0px;
    font-family: calibri;
    
}
/*----------- ----------responsividade----------- 400px-----------*/
@media only screen and (max-device-width: 500px){
.slider{
    display: inline;
    width: 100%;
    float: left;
    position: relative;
    padding-top: 90px;
    z-index: 98;
}
/* body header{
    margin-bottom: 200px;
    position: absolute;
} */
    /* header nav button{
    height: 44px;
    width: 95px;
    margin-top: 30px;
    margin-right: 100px;
    background-color: rgba(0, 0, 0, 0.05);
} */
/* header nav button a{
    padding: 10px;
    font-size: 16pt;
} */
.slider{
    margin-top: 155px;
    padding-top: 0px;
}

 
 .container   .conf_article article {
    width: 73%;
    height: 252px;
    display: inline-block;
    margin-left: 66px;
    /* margin-top: 41px; */
    border-radius: 15px;
    }
    .container .conf_article{   
    width: 100%;
    /* height: 1200px; */
    padding-top: 390px;
    margin: auto;
    }

    footer{
    width: 100%;
    height: 91px;
    background-color: #4e73df;
    z-index: 50;
    clear: both;
    position: absolute;
    margin-top: 2450px;
}
#sob_adimen{
    width: 362px;
    height: 297px;
}
}

/*------------inicio do index----------*/


/*---------menu------*/
header{
	width: 100%;
	height: 91px;
	background-color: #4e73df;
	position: fixed;
    z-index: 99;
}
#header-tangibilidade{
    width: 100%;
    height: 91px;
    background-color:#FFCC00;
    position: fixed;
    z-index: 99;
}
#tudo{
    height: 100%;
    padding-top:91px;
}

header h1 {
    margin-left: 45%;
    z-index: -1;
    /* position: fixed; */
    padding-top: 28px;
    color: white;
    font-size: 28pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header li{
	display: inline;
	float: left;
	margin-left: 10px;
}
.sob a{
    margin-top: -30px;
    padding: 0px;
    padding-left: 10px;
}
.sob a:hover{
    color:red;
}

/* 
header a{
    text-decoration: none;
    color: black;
    font-size: 13pt;
    font-family: calibri;
    padding: 12px 40px;
}

header nav{ */
	/*border: 1px solid red;*/
	/* height: 50px;
}
header button {
    float: right;
      height: 96%;
    width: 9%;
    margin-right: 10px;
    border-radius: 12px;
    outline: none;
    background-color: white;
    margin-top: -37px;
    border: 0px;
    border: #c0c0c0c0;
} */
.sob a{
    float: left;
    color: white;
    font-size: 22pt;
    margin-top: -26px;
}

#selecoes-cat{
    height: 50px;
}



/*-------fim--menu------*/



.conf_article h1{
    font-size: 23pt;
    text-align: center;
        margin-top: 27px;

}

.conf_article{
     width: 100%;
    height: 1200px;
    padding-top: 593px;
    margin: auto;
}

.conf_article article{
   width: 19%;
    height: 323px;
    display: inline-block;
    margin-left: 66px;
    margin-top:41px;
    border-radius: 15px;
}

 #sob_adimen {
    width: 1042px;
    border:1px solid red;

 }
footer{
    width: 100%;
    height: 91px;
    background-color: #4e73df;
    z-index: 50;
    clear: both;   
}
 /*------------inicio--cores index de dimensões--------------------*/
.confd_1{
    background-color: orange;

}
.confd_2{
        background-color: yellow;
    
}
.confd_3{
        background-color: #2E9AFE;
    
}
.confd_4{
    background-color: #0040FF;
    
}
.confd_5{
        background-color: #FAAC58;
    
}


/*------------fim--cores index de dimensões--------------------*/


/*------------fim  index----------*/


/*------------inicio--cadastro------------------*/

.cad  h1 {
	text-align: center;
    font-size: 40pt;
    padding-top: 38px;

}
.cad form{

    width: 500px;
    border: 2px solid blue;
    margin: auto;
    border-radius: 76px;

}

.cad  label{
padding-left: 10%;
    font-size: 23pt;
    font-family: calibri;
}

.cad  input{
	margin-left: 10%;
    height: 30px;
    width: 371px;
    border:none;
    border-bottom: 5px solid blue;
    
    outline: none;
}

.cad  button{
    height: 50px;
    width: 200px;
    margin-left: 144px;
    border: none;
    margin-top: 25px;
    background-color: #00FF00;
    border-radius: 20px;
}

.cad  a {
	color:white;
	font-size: 16pt;
	text-decoration: none;
}



/*------------fim--cadastro------------------*/
/*------------inicio-adm------------------*/
 #painel_ad button{
    height: 12%;
    width: 88%;
    border: none;
    margin-top: 25px;
    border-radius: 20px;
    margin-left: 11px;

}

 #painel_ad {
      height: 496px;
    width: 500px;
    margin: auto;
    padding-top: 265px;

 }

 #painel_ad h1{
    text-align: center;
    font-family: calibri;
    font-size: 36pt;
    color: #163d54;
}
 

 #painel_ad a {
    color: white;
    font-size: 20pt;
    text-decoration: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 169px;
    padding-right: 149px;

 }
 .cl1 {
 	background-color: green;
 	opacity:.6;
 }
  .cl2 {
 	background-color: red;
 	opacity:.6;
 }

  .cl3 {
 	background-color: blue;
 	opacity:.6;
 }
#menulateral{
    height: 100%;
    width: 261px;
    background:#000;
    float: left;
    animation: menulateral 1s alternate ease-out;
    transition: width 1s ease-in-out;
    display: none;
    position: fixed;
    z-index: 1;
}
@keyframes menulateral{
    from{width: 0px;}
    to{width: 263px;}
}
#menulateral label{
    float: left;
    margin-left: 55px;
    font-size: 30pt;
    color: white;
    margin-top: 14px;
    margin-bottom: 33px;
    animation: anima_label 2s;
}
@keyframes anima_label{
    from {opacity: 0;
    }
    to{
        opacity: 100;
    }
}
#menulateral img{

    float: left;
    margin-top: 126px;
    margin-left: 55px;
    border: none;
    border-radius: 91px;
    height: 138px;
    width: 142px;
    animation: img-menu-lat 4s;

}
@keyframes img-menu-lat{
    from {opacity: 0;}
    to{opacity: 100;}
}
#menulateral nav {
    font-size: 16pt;

 
  float: left;

}
#menulateral nav li {
    display: inline-block;
    border: 1px solid #86c9e0b5;
    width: 264px;
    padding-bottom: 20px;
    padding-top: 19px;
    border-left: none;
    border-right: none;
    animation: borde-li 1s;
}
@keyframes borde-li{
    from { width: 0px;}
    to{width: 264px;}
}
#menulateral nav a{
    text-decoration: none;
    margin-left: 9%;
    color: white;
    width: 264px;
    height: 100px;
    padding-top: 19px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    animation: anima_a 1s;
}
@keyframes anima_a{
    from {opacity: 0;
    }
    to{
        opacity: 100;
    }
}

#menulateral li:hover{
    background-color: #33CCFF;
     width: 261px;

 }
/*------------fim--adm------------------*/
/*------------inicio--expectativa------------------*/

.expec_header{
    position: fixed;
}

.fita_1{
     width: 100%;
    height: 75px;
    /* margin-top: 80px; */
    background-color: orange;
    margin-top: 199px;;
    margin-bottom: 97px;
}

.fita_2{
     width: 100%;
    height: 75px;
    /* margin-top: 80px; */
    background-color: yellow;
    margin-top: 199px;;
    margin-bottom: 97px;
}

.fita_3{
     width: 100%;
    height: 75px;
    /* margin-top: 80px; */
    background-color: #2E9AFE;
    margin-top: 199px;;
    margin-bottom: 97px;
}

.fita_4{
     width: 100%;
    height: 75px;
    /* margin-top: 80px; */
     background-color: #0040FF;
    margin-top: 199px;;
    margin-bottom: 97px;
}

.fita_5{
     width: 100%;
    height: 75px;
    /* margin-top: 80px; */
    background-color: #FAAC58;
    margin-top: 199px;;
    margin-bottom: 97px;
}
.sec{
    padding-top: 90px;
    width: 100%;
}
.sec li a{
    color: black;
}

.sec li {
    display: inline-block;
    padding: 5px;
    text-align: center;
    margin-left: 25px;
    width: 16%;
    height: 57px;
}

.sec a{
    font-family: calibri;
    font-size: 20pt;
    text-decoration: none;
}

.sec .ct1{
    background-color: orange;
    border-radius: 1px 2px 12px 12px;

}

.sec .ct1 input{
    height: 24px;
    width: 23px;
    float: left;
    margin-top: 21px;
}

.sec .ct2{
    background-color: yellow;
   border-radius: 1px 2px 12px 12px;
}

.sec .ct2 input{
    height: 24px;
    width: 23px;
    float: left;
    margin-top: 21px;
}


.sec .ct3{
      background-color: #2E9AFE;
    border-radius: 1px 2px 12px 12px;
   
    
}
.sec .ct3 input{
    height: 24px;
    width: 23px;
    float: left;
    margin-top: 21px;
}

.sec .ct4{
     background-color: #0040FF;
     border-radius: 1px 2px 12px 12px;

}
.sec .ct4 input{
    height: 24px;
    width: 23px;
    float: left;
    margin-top: 21px;
}

.sec .ct5{
    background-color: #FAAC58;
    border-radius: 1px 2px 12px 12px;
    
}
.sec .ct5 input{
    height: 24px;
    width: 23px;
    float: left;
    margin-top: 21px;
}

.sec .en_6{
    background-color: #00ef00cf;
    float: right;
    margin-top: 6%;
    width: 12%;
    height: 56px;
    margin-right: 3%;
    border: none;
    border-radius: 27px;
    outline: none;
}
.sec .en_6 a{
    color: black;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 12px;
    padding-bottom: 13px;
}


.cont h1 {
    text-align: center;
    font-size: 46pt;
    font-family: calibri;
}

 .cont{
 
    width: 100%;
    margin-bottom: 175px;;
    height: 1000px;
    width: 100%;
    background-color: white;
    padding-top: 1px;
 }


 .cont form{
    /* padding-top: 21px; */
    background-color: rgba(236, 233, 233, 0.19);
    width: 1077px;
    height: 786px;
    /* margin-top: 124px; */
    margin: auto;
    border: 1px solid #cec8c8;
    border-radius: 17px

 }

 .cont form p{
    font-size: 16pt;
    overflow: auto;
    max-width: 991px;

 }

 .cont form  article {
    height: 50px;
    width: 1026px;
   border: 1px solid #b1b1b142;
    padding: 15px;
    margin-top: 10px;
    margin-left: 11px;
 }

 .btn_personalizar {
     float: right;
    border: none;
    margin-top: 0px;
    background-color: transparent;
 }

.div_pergunta{
    display: none;
    margin: 0px;
    margin-top: -6px;
    border: none;

}
.inputs_per_txt{
    width: 90%;
    font-family: arial;
    border-radius: 2px;
    height: 24px;
    border: none;
    border:1px solid #c0c0c0;
    border-radius: 10px;
    outline: none;
    padding-left: 6px;
}
.btn_salvar{
    width: 80px;
    height: 30px;
    background-color: #00FF00;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 10pt;
    font-weight: bold;
}
.Hr-linha-divisoria{
    width: 80%;
    margin: 0px 10%  0px 10%;
}

/*------------fim--expectativa/percepção------------------*/
/*------------inicio Relatório------------------*/


/*--------gráfico estilo---*/
#percepcao {
    width: 790px;
    height: 500px;
    margin: 0;
    padding: 0;
    float: left;
}
#expectativa {
    width: 790px;
    height: 500px;
    margin: 0;
    padding: 0;
    float: right;
}
#uniao-graf{
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    display: none;
    animation-name: teste;
    animation-duration: 1s;
}
@keyframes teste{
    from{width: 0;};
    to{width: 100%;};
}
/* inpout que define a meta*/
#def-meta{
    border-radius: 10px;
}
.opcoes-de-grafico{
    font-family: arial;
    width: 100%;
    height: 50px;
    background-color: #4e73df;
    margin-top: -20px;
    color:white;
    padding-left: 10px;
    padding-top: 10px;
}
.label-inp{
    margin-bottom: 10px;
    cursor: pointer;
    color:white; 
    font-family: arial;
}
.label-inp:hover{
    color:#8E2D00;
}
.check-inp{
width: 22px;
    height: 30px;
    margin-left: 24px;
}
.meta_gf{
    font-size: 16pt;
    float: left;
    margin-top: -20px;
    margin-left: 10px;
    padding-left: 16px;
}


/*-------fim gráfico-------*/ 
#td_rl{
    height: 100%;
    padding-top: 91px;
    padding-bottom: 50%;
}

}

.gf_r{
    height: 322px;
    width: 577px;
    border: 1px solid red;
    float: right;
    margin-right: 138px;
    /* position: relative; */

}
.result_r{
    height: 766px;
    width: 600px;
    /* border: 1px solid #c0c0c0; */
    float: left;
    margin-left: 48px;
    padding: 0px;

}

#td_op{
    height: 90px;
    width: 94%;
    font-size: 23pt;
    padding-left: 38px;

}

#td_op article{
    margin-left: 50px;
}

#td_op input{
    float: right;
    font-size: 16pt;
    width: 41px;
    height: 31px;
    margin-top: 55px;
}

.t_r1{
    background-color:orange ;
}
.c_r2{
    background-color: yellow;
}

.p_r3{
    background-color:#2E9AFE ;
}

.s_r4{
    background-color:blue ;
}
.e_r5{
    background-color:#FAAC58 ;
}




/*------------fim--Relatório------------------*/

/* -----------------barras do menu adm    */

#img-bar{
    margin-left: 12px;    
    height: 4px;
    cursor: pointer;
    width: 40px;
    background-color: black;
    border-radius: 500px;
    display: block;
    position: relative;
    margin-top: 10px;
    transition: .5s ease-in-out;
}
#img-bar:after,    
#img-bar:before{
    background-color: black;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100px;
    transition: .5s ease-in-out;
}
#img-bar:after{
    bottom: -10px;
}
#img-bar:before{
    top: -10px;
}
#menu-lateral{
    display: none;
}
#menu-lateral:checked ~ label #img-bar{
    transform: rotate(45deg);
}
#menu-lateral:checked ~ label #img-bar:before{
    transform: rotate(90deg);
    top: 0px;
}
#menu-lateral:checked ~ label #img-bar:after{
    transform: rotate(-90deg);
    bottom: 0px;
}
#div-barra{
    width: 60px;
    height: 21px;
    margin-top: -40px;
    cursor: pointer;
    padding-top: 10px;
}

#drop-d{
    height: 40px;
    margin-left: -50px;
    margin-top: -13px;
    animation: drop-d 1s;
    float: left;
    transform: rotate(180deg);
    display: none;
}
@keyframes drop-d{
    0%{opacity: 0.0}
    100%{opacity: 100;}
}

/*---------------inicio de dowloads---------------------*/


#dowload{
    height: 100%;
    width: 100%;
    padding-top: 149px;
    padding-bottom: 10%;
}


#dowload div {
    margin-top: 502px;
    margin: auto;
    font-size: font-size: 26pt;
    text-align: center;
    height: 520px;
    width: 988px;
    border-radius: 34px;
    font-size: 27pt;
    padding-top: 50px;
    background-color: #fbf7f7;
}

#dowload ul {
    background-color: #a7a7a738;
    width: 92%;
    height: 50px;
    margin: auto;
    border-radius: 12px;
    margin-top: 10px;
    
}
#dowload ul li {
    display: inline;
    font-size: 16pt;
    float: left;
    padding-left: 3%;
    margin-top: 11px;
    float: left;
}
#dowload button{
     float: right;
    margin-right: 11px;
    margin-top: 7px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #2b3a2b00;
    background-repeat: no-repeat;
    width: 52px;

}
#dowload label{
    color: #163d54;
    font-family: caliibri;
}

/*---------------fim de dowloads---------------------*/
/*------------------menu de opções de gráfico-------*/
.menu-de-graficos{
    float: right;
    background-color: black;
    height: 85px;
    margin-top: -60px;
    width: 250px;
}
.menu-de-graficos li{
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 40px;
}
.menu-de-graficos li {
    color:white;
    font-size: 18pt;
}
#div-menu-op{
    float: right;
    background-color: black;
    margin-top: 20px;
    display: none;
    height: 100px;
    margin-right: -250px;
    width: 250px;
    height: 200px;
    padding-bottom: 10px;
    animation: menu_op-graf 1s;
}
@keyframes menu_op-graf{
    from{
        height: 0px;
    }
    to{
        height: 200px;
    }
}
#div-menu-op li{
    display: block;
    padding-top:10px;
    animation: li_graf 3.5s;
    border: 1px solid white;
    width: 100%;
    margin-left: 0px;
    border-left: 0px;
    border-right: 0px;
}
@keyframes li_graf{
    from {
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}
#div-menu-op li label{
    display: block;
    float: right;
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 20px;
}
.menu-de-graficos:hover + #div-menu-op{
    display: block;
}
#div-menu-op:hover{
    display: block;
}
#def-meta-01{
    width: 230px;
    margin-bottom: 10px;
    margin-left: 10px;
}


/* botão de voltar ao topo*/

#voltar_ao_topo{
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: white;
    animation: back-top 0.8s;
    display: none;
    border-radius: 80px;
    height: 50px;
}
@keyframes back-top{
    from {opacity: 0;}
    to{opacity: 1;}
}
#voltar_ao_topo img{
    height: 50px;
}
/*---------------------------------sobre html-------------*/
.sobre{
    padding-top: 92px;
    padding-bottom: 15%;
}
.sobre h1{
    width: 100%;
    text-align: center;
    font-size: 25pt;
}
/*texto história*/

.texto-hist{
    /*border: 1px solid black;*/
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    text-align: justify;
}
.dev{
    margin-left: 50px;
    /*border:1px solid black;*/
    width: 450px;
    height: 200px;
}
.dev h2{
    width: 100%;
    text-align: center;
}
.div-dv{
    /*border: 1px solid black;*/
    margin-left: 30px;
    width: 104px;
    float: left;
}
.img-devs{
    height: 100px;
    /*border: #000 2px solid;*/
    background-color: #000;
}

.dev h3{
    text-align: center;    
}
.inicio-a{
    color: white;
    font-size: 26pt;
    display: block;
    margin-top: -50px;
    /* background-color: #37529e; */
    width: 50px;
    /* border-radius: 27px; */
    padding: 8px;
    margin-left: 10px;
    /* border: 1px solid;*/
}
.inicio-a:hover{
    color: #8E2D00;
}
.logo-sobre{
    float: left;
    height: 111px;
    margin: 44px 15px 0px 19%;
}

.cards_content{
    margin-top:2em;
}