.all-content{
    min-height: 100%;
    padding-bottom: 2em;
}.cards_content{
    margin-top:2em;
}.rodape{
    margin-top:2em;
}.body-admin{
    padding: 15% 0;
}.btn-a-admin{
    font-size: 16pt;
}.input-categoria{
    width: 100%;
}.input-categoria input{
    float: left;
    margin-top: 4%;
}.float{
    float: left;
}.text-editor{
    display: none;
}