@media screen and (max-width:1000px){

/*********inicio*****pagina Index**********************/

body header h1 {
    margin-left: 35%;
    z-index: -1;
    padding-top: 14px;
    color: white;
    font-size: 15pt;
    padding-bottom: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body header button {
    /* float: right; */
    height: 55%;
    width: 84px;
    /* margin-right: 10px; */
    border-radius: 12px;
    outline: none;
    background-color: white;
    margin-top: 6px;
    border: 0px;
    margin: auto;
    /* margin-left: 10px; */
    margin-right: 3px;
}


body header a {
    text-decoration: none;
    color: black;
    font-size: 13pt;
    font-family: calibri;
    margin: auto;
    padding-left: 13px;
    /* height: 48px; */
}


body header nav {
    /* border: 1px solid red; */
    height: 50px;
}

body header li {
    display: inline;
    float: left;
    margin-left: -2px;
    margin-top: 32px;
}
body .sob a {
    float: left;
    color: white;
    font-size: 18pt;
    margin-top: -26px;
}

body .conf_article h1 {
    font-size: 20pt;
    text-align: center;
    margin-top: 27px;
}


body .conf_article {
    width: 100%;
    /* height: 1200px; */
    padding-top: 410px;
    /* margin: auto; */
}

body .conf_article article {
    width: 81%;
    height: 223px;
    display: inline-block;
    margin-left: 33px;
    margin-top: 21px;
    border-radius: 15px;
    /* margin: auto; */
}

body #sob_adimen {
    /* width: 95px; */
    border: 1px solid red;
    height: 201px;
    width: 83%;

}

body footer {
    width: 100%;
    height: 91px;
    background-color: #4e73df;
    z-index: 50;
    margin-top: 758px;
    clear: both;
}
/***********fim***pagina Index**********************/   

